:root {
  --scale: 2;
  --bgImg: url("https://img5.pic.in.th/file/secure-sv1/BG-01b9a4e5c37c23e215.png");
}


body {
  margin: 0;
  font-family: "Noto Sans Thai", sans-serif;
  overflow: hidden;
  background-image: var(--bgImg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  overscroll-behavior: none;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: min(648px, 88vw);
  margin: 18px 0 72px;
}

.gridTop {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 54px;
  justify-items: center;
}

.gridBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 63px;
}

.tile {
  cursor: pointer;
}

.tile img {
  width: min(468px, 40vw);
  transition: 0.2s ease;
}

.gridBottom .tile img {
  width: min(468px, 48vw);
}

.tile:active img {
  transform: scale(0.94);
}

/* ============================= */
/* 📱 iPhone Responsive */
/* ============================= */

@media (max-width: 430px) {
  .wrapper {
  }

  .logo {
    width: 65vw;
    margin: 10px 0 40px;
  }

  .gridTop {
    gap: 20px;
  }

  .tile img {
    width: 42vw;
  }

  .gridBottom {
    margin-top: 10px;
  }

  .gridBottom .tile img {
    width: 45vw;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

.tile {
  transition: transform 0.2s ease;
}
.tile:active {
  transform: scale(0.95);
}