* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* width: 100%; */
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
}